import {SwipeDirection} from '@nativescript/core'
<template>
    <Page>
        <ActionBar title="TODO list homework"/>
        <GridLayout columns="*" rows="*">
            <ListView class="list-group"
                      for="todo in sortedTodoList"
                      @swipe="onItemSwipe"
                      @itemTap="onItemTap"
                      style="height:1250px">
                <v-template>
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                        <Label :text="todo.text" class="list-group-item-heading" style="width: 60%"/>
                    </FlexboxLayout>
                </v-template>
            </ListView>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import {SortDirection} from "@/utils/SortDirection";
    import {sortBy} from "@/utils/SortUtils";

    const SwipeDirection = require("tns-core-modules/ui/gestures").SwipeDirection;

    export default {
        methods: {
            onItemTap: function (args) {
                console.log('Item with index: ' + args.index + ' tapped');
            },
            onItemSwipe: function (args) {
                let direction = args.direction;
                if (direction == SwipeDirection.right) {
                    this.todos.splice(args.index, 1);
                }
            }
        },
        data() {
            return {
                todos: [
                    {text: "ZZZ"},
                    {text: "Install android studio"},
                    {text: "Install native script studio"},
                    {text: "Make CRUD app"},
                    {text: "Add unit tests"}
                ],
                sortBy: 'text',
                sortDirection: SortDirection.ASC,
            }
        },
        computed: {
            sortedTodoList: function () {
                return sortBy(this.todos, this.sortBy, this.sortDirection)
            }
        }
    }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }
</style>
